In [1]:
import pandas as pd
import numpy as np

In [2]:
# Customize columns headers
df1 = pd.DataFrame([[1,2,3,4], [5,6,7,8], [3,6,8,23],[23,23,63,12]], columns=['A','B','C','D'])

In [3]:
df1

    A   B   C   D
0   1   2   3   4
1   5   6   7   8
2   3   6   8  23
3  23  23  63  12

In [4]:
# To Know the size of dataframe
df1.shape

(4, 4)

In [5]:
# Dataframe slicing
df1.iloc[0:2,0:2]

   A  B
0  1  2
1  5  6