In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,Off Market Transaction,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MEMBER,TO,MEMBER,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Date,SETTLEMENT DATE,MEMBER CODE,SYMBOL CODE,COMPANY,TURNOVER,RATE,VALUES
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
print(df['Unnamed: 1'])

0                  NaN
1                  TO
2                  NaN
3     SETTLEMENT DATE
4                  NaN
5            09-May-22
6            09-May-22
7            06-May-22
8            09-May-22
9            13-May-22
10                 NaN
11        TRANSACTIONS
12                 NaN
13    SETTLEMENT DATE
14                 NaN
15           06-May-22
16           06-May-22
17           09-May-22
18           28-Apr-22
19           06-May-22
20           09-May-22
21           30-May-22
22           06-May-22
23           06-May-22
24           06-May-22
25           06-May-22
26           09-May-22
27           28-Apr-22
28           28-Apr-22
29           28-Apr-22
30           06-May-22
31           09-May-22
32           09-May-22
33           28-Apr-22
34           06-May-22
35           06-May-22
36           09-May-22
37           09-May-22
Name: Unnamed: 1, dtype: object

In [9]:
print(df['Unnamed: 1'].dtype)

object

In [10]:
pd.df.astype

AttributeError: module 'pandas' has no attribute 'df'